.title {
  position: fixed;
  top: 20px;
  left: 1.4%;
  color: var(--white);
  cursor: pointer;
  z-index: 99;
  mix-blend-mode: exclusion;
}
.links {
  position: fixed;
  writing-mode: vertical-rl;
  top: 20px;
  right: 1.4%;
  color: var(--white);
  z-index: 99;
  mix-blend-mode: exclusion;
}
