.section {
  position: relative;
  font-size: 0px;
  cursor: pointer;
  background-color: black;
}
.links {
  position: absolute;
  writing-mode: vertical-rl;
  top: 20px;
  right: 1.4%;
  color: var(--white);
  z-index: 99;
  mix-blend-mode: exclusion;
}
.links:hover ~ svg .study {
  fill: var(--black);
}

/* .links:hover {
  color: var(--white);
} */
.icon {
  position: absolute;
  font-size: var(--font-xs);
  line-height: var(--lineheight-xs);
  color: var(--white);
  mix-blend-mode: exclusion;
}
.exhIcon {
  display: none;
}
.aboutIcon {
  display: none;
}
.newsIcon {
  display: none;
}
.artIcon {
  display: none;
}
.pubIcon {
  display: none;
}
.title {
  position: absolute;
  top: 20px;
  left: 1.4%;
  color: var(--white);
  cursor: pointer;
  z-index: 99;
  mix-blend-mode: exclusion;
}
/* .title:hover {
  color: var(--white);
} */

.title:hover + svg .exhibition {
  fill: var(--black);
}

.about:hover {
  fill: var(--black);
}

.publication:hover {
  fill: var(--black);
}
.artists:hover {
  fill: var(--black);
}

.study:hover {
  fill: var(--black);
}
.exhibition:hover {
  fill: var(--black);
}

.news:hover {
  fill: var(--black);
}
