.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  @media screen and (max-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  .full {
    grid-column: 1 / span 2;
  }

  @media screen and (max-width: 768px) {
    .full {
      grid-column: 1 / span 1;
    }
  }
