.oneColumn {
  display: grid;
  grid-template-columns: 1fr;
}
.twoColumn-11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 95px;
}
.threeColumn-211 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}
.col {
  width: 100%;
  overflow: hidden;
}
