.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 95px;
}
@media screen and (max-width: 414px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
