.content {
  margin-top: var(--spacing-m);
}
.darkSquare {
  background-color: var(--black);
  width: 100%;
  position: relative;
  cursor: pointer;
}
.loadmore {
  position: absolute;
  color: var(--white);
  top: 2%;
  left: 2%;
}
