.content {
  margin-top: var(--spacing-m);
}
.darkSquare {
  background-color: var(--black);
  width: 100%;
  position: relative;
  cursor: pointer;
}
.loadmore {
  position: absolute;
  color: var(--white);
  font-size: var(--font-m);
  line-height: var(--lineheight-s);
  font-weight: 400;
  top: 2%;
  left: 2%;
}
