.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.profileImg {
  max-height: 100%;
  max-width: 100%;

  display: block;
  line-height: 0;
}
