.col {
  height: 100%;
  position: relative;
}
.profile {
  height: 100%;
}
.profileImg {
  margin-top: 70px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  line-height: 0;
}
.hr_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
