.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.works {
  margin-top: 30px;
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .works {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
