.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.content {
  margin-top: var(--spacing-m);
}
.image {
  cursor: pointer;
}
.darkSquare {
  background-color: var(--black);
  width: 100%;
  position: relative;
}
.loadmore {
  position: absolute;
  color: var(--white);
  font-size: var(--font-m);
  line-height: var(--lineheight-s);
  font-weight: 400;
  top: 2%;
  left: 2%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 65px;
  }
  .grid:first-child {
    margin-top: 0px;
  }
}
