.footer {
  background-color: var(--black);
  width: 100%;
  color: var(--white);
  height: auto;
}
.container {
  padding: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.col1 {
  font-weight: 400;
  font-style: normal;
}
.col2 {
  font-style: normal;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.col2 .row {
  margin-bottom: 40px;
}

.socialmedia {
  list-style: none;
}
.logo_container {
  height: 70px;
}
.links {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 13px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 13px;
  }
  .col1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    padding-bottom: 40px;
  }
  .col2 {
    column-gap: 13px;
  }
  .logo_container {
    height: 58px;
  }
}
