.form {
  margin-top: 39px;
  width: 100%;
}
.form input {
  border: none;
  border-bottom: 1px solid #000000;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  margin-bottom: 19px;
}
.form input[type="datetime-local"] {
  width: 100%;
  font-size: var(--font-xs);
}
.form input:last-child {
  width: auto;
  align-self: start;
  background-color: transparent;
  border-bottom: none;
  cursor: pointer;
  color: #9b9b9b;
}
.form input::placeholder {
  color: #9b9b9b;
}
