/* font size. line height */
:root {
  --font-xs: 25px;
  --font-s: 25px;
  --font-m: 35px;
  --font-lg: 65px;
  --lineheight-xs: 28px;
  --lineheight-s: 32px;
  --lineheight-m: 36.5px;
  --lineheight-lg: 58.5px;
}
