.title {
  margin-bottom: 118px;
}

/* .form input:hover::-webkit-input-placeholder {
  text-decoration: underline;
  text-decoration-color: rgb(178, 122, 230);
  text-decoration-thickness: 5px;
  text-decoration-style: solid;
} */
